@charset "UTF-8";

#component {
    position: fixed;
    width: 100%;
    height: 100%;
    padding-top: 10%;
    box-sizing: border-box;
}

.account,
.network {
    text-align: center;
    padding-bottom: 20px;
}

.wallet_connect,
.metamask {
    position: relative;
    padding: 25px;
    cursor: pointer;
    text-align: center;
    text-indent: 50px;
}

.wallet_connect::after,
.metamask::after {
    position: absolute;
    top: calc(50% - 25px);
    left: 20px;
    display: block;
    content: "";
    width: 50px;
    height: 50px;
    background: url(../imgs/wallet_connect.svg) no-repeat 50% 50%;
    background-size: contain;
}

.metamask::after {
    background: url(../imgs/metamask.png) no-repeat 50% 50%;
    background-size: contain;
}

.wallet_connect:hover,
.metamask:hover {
    background: #eee;
}
.wallet_connect:hover {
    border-radius: 20px 20px 0 0;
}
.metamask:hover  {
    border-radius: 0 0 20px 20px;
}

.connect_wallet_button {
    /* position: fixed;
    top: calc(50% - 25px);
    left: calc(50% - 5%); */
    margin: 0 auto;
    width: 10%;
    min-width: 200px;
    padding: 10px;
    height: 50px;
    line-height: 50px;
    border-radius: 20px;
    text-align: center;
    background: #000;
    color: #FFF;
    cursor: pointer;
}
.connect_wallet_button:hover {
    background: #333;
}

/* popup.css */
.dim {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
}
.dim > .wallet_popup {
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    /* width: 20%; */
    min-width: 300px;
    background: #FFF;
    border-radius: 20px;
}
.dim > .wallet_popup > .modal_close_button {
    position: absolute;
    top: -50px;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #FFF;
    cursor: pointer;
}
.dim > .wallet_popup > .modal_close_button::before,
.dim > .wallet_popup > .modal_close_button::after {
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 12.5px);
    transform: rotate(45deg);
    display: block;
    content: "";
    width: 25px;
    height: 2px;
    background: #000;
}
.dim > .wallet_popup > .modal_close_button::after {
    transform: rotate(-45deg);
}
.dim > .wallet_popup > .modal_close_button:hover {
    background: #DDD;
}